@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-font-color: #e2e2e2;
  --main-bg-color: #121212;
  --beta-bg-color: #1e1e1e;
  --main-gradient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  --main-font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 50%;
  margin: 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  background: var(--beta-bg-color);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1rem;
  padding-right: 1rem;
  outline: none;
  color: var(--main-font-color);
  background: var(--beta-bg-color);
}


.card {
  width: 310px;
  /* height: 460px; */
  margin: 1.5rem;
  position: relative;
  /* top: 0; */
  border-radius: 12px;
  background-color: var(--beta-bg-color);
  overflow: hidden;
  top: 0;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}


.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .card {
    width: "100%";
    margin: 1rem;
  }
}